	/*
  	Flaticon icon font: Flaticon
  	Creation date: 17/08/2016 10:23
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flat/Flaticon.eot");
  src: url("../fonts/flat/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flat/Flaticon.woff") format("woff"),
       url("../fonts/flat/Flaticon.ttf") format("truetype"),
       url("../fonts/flat/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.html#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-black:before { content: "\f100"; }
.flaticon-gauge:before { content: "\f101"; }
.flaticon-steering-wheel:before { content: "\f102"; }
.flaticon-tool:before { content: "\f103"; }
.flaticon-transport:before { content: "\f104"; }
.flaticon-transport-1:before { content: "\f105"; }
.flaticon-transport-2:before { content: "\f106"; }
.flaticon-transport-3:before { content: "\f107"; }
.flaticon-transport-4:before { content: "\f108"; }
.flaticon-transport-5:before { content: "\f109"; }
.flaticon-transport-6:before { content: "\f10a"; }
.flaticon-transport-7:before { content: "\f10b"; }
.flaticon-transport-8:before { content: "\f10c"; }
.flaticon-transport-9:before { content: "\f10d"; }